<%= form_with(model: [@lesson, @section]) do |form| %>
  <% if section.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="range">
    <%= render "range", section: @section, lesson: @lesson, form: form %>
  </div>

  <%= form.label :name %>
  <%= form.text_field :name, minlength: 5, maxlength: 25, placeholder: Section.human_attribute_name("name") %>

  <%= form.label :playback_speed  %>
  <%= form.text_field :playback_speed, min: 0.5, max: 2, type: :number, step: 0.5 %>

  <%= form.label :loop %>
  <label class="switch">
    <%= form.check_box :loop %>
    <span class="slider round"></span>
  </label>

  <div class="action-buttons">
    <%= form.submit %>
    <%= link_to t(:cancel), lesson_path(@lesson) %>
  </div>
<% end %>
