<%= form_with(model: [@lesson, @section]) do |form| %>
  <% if section.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, minlength: 5, maxlength: 25, placeholder: "Name of the section" %>
  </div>

  <div>
    <label>Start Time</label>

    <%= form.text_field :start_time_hour, type: :number, style: "width: 80px" %>
    :
    <%= form.text_field :start_time_minute, type: :number, max: 59, style: "width: 70px" %>
    :
    <%= form.text_field :start_time_second, max: 59, type: :number, style: "width: 70px" %>
  </div>

  <div>
    <label>End Time</label>

    <%= form.text_field :end_time_hour, type: :number, style: "width: 80px" %>
    :
    <%= form.text_field :end_time_minute, type: :number, max: 59, style: "width: 70px" %>
    :
    <%= form.text_field :end_time_second, max: 59, type: :number, style: "width: 70px" %>
  </div>

  <div>
    <%= form.label :playback_speed, style: "display: block" %>
    <%= form.text_field :playback_speed, min: 0, max: 2.5, type: :number, step: 0.5 %>
  </div>

  <div>
    <%= form.label :finished, style: "display: block" %>
    <%= form.check_box :finished %>
  </div>

  <div>
    <%= form.label :current, style: "display: block" %>
    <%= form.check_box :current %>
  </div>

  <div>
    <%= form.label :loop, style: "display: block" %>
    <%= form.check_box :loop %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
