<div class="sections-selector">
  <div class="playing"
       data-controller="section"
       data-section-player-outlet=".video-player"
       data-section-start-value="<%= section.start_time %>"
       data-section-end-value="<%= section.end_time %>"
       data-section-loop-value="<%= section.loop %>"
       data-section-speed-value="<%= section.playback_speed %>">
    <div class="top">
      <span class="title">
        <%= section.name %>
      </span>
      <div class="actions">
        <%= link_to "Cancel", lesson_path(@lesson) %>
      </div>
    </div>
    <div class="bottom">
      <%= format_playback_speed(section.playback_speed) %>x
      <%= "#{format_time(section.start_time)} -  #{format_time(section.end_time)}" %>
      <%= image_tag(loop_img(section), size: "16x16") %>
    </div>
  </div>
</div>
