<%= content_tag :div,
  class: "range",
  data: {
    controller: "range",
    action: [
      "player:resetRange@window->range#resetRange",
      "section-form:convertFields@window->range#convertFields",
      "section-form:restoreRange@window->range#restoreRange",
      "zoom:zoomUpdated@window->range#updateZoomLevel",
      "player:videoLoaded@window->range#videoLoaded",
      "player:loopClearStarted@window->range#disableInputs",
      "player:loopClearFinished@window->range#enableInputs"
    ].join(" "),
    "range-player-outlet" => ".player",
    "range-zoom-outlet" => ".zoom",
    "range-min-default-value" => section.start_time,
    "range-max-default-value" => section.end_time,
} do %>
   <div class="range-slider">
     <span class="range-selected" data-range-target="slider"></span>
   </div>
   <div class="range-input">
     <%= form.range_field :start_time,
       value: section.start_time || 0.0,
       class: "min disabled",
       min: 0.0,
       max: lesson.duration_in_seconds,
       step: 0.01,
       disabled: true,
       list: "ticks-#{lesson.id}",
       data: { action: "input->range#update", "range-target" => "min" } %>
     <%= form.range_field :end_time,
       value: section.end_time || lesson.duration_in_seconds.to_f,
       class: "max disabled",
       min: 0.04,
       max: lesson.duration_in_seconds,
       step: 0.01,
       disabled: true,
       data: { action: "input->range#update", "range-target" => "max" } %>
   </div>
   <% cache section do %>
     <%= content_tag :div, id: "timeline" do %>
       <%= render "ticks", timeline: section.timeline, lesson_id: lesson.id %>
     <% end %>
   <% end %>
<% end %>
