<%= turbo_frame_tag section do %>
  <div class="item"
       draggable="true"
       data-section-id="<%= section.id %>"
       data-controller="section-item"
       data-action="dragstart->section-item#dragStart drop->section-item#onDrop:prevent:stop dragover->section-item#onDragOver:prevent:stop dragend->section-item#onDragEnd"
       data-start="<%= section.start_time %>"
       data-end="<%= section.end_time %>"
       data-loop="<%= section.loop %>"
       data-playback-speed="<%= section.playback_speed %>">
    <div class="item-top">
      <span class="item-title">
            <%= link_to section.name,
              lesson_section_path(lesson, section),
              data: { turbo_stream: "sections" } %>
      </span>
      <div class="item-actions">
        <%= link_to (fa_icon "pencil-square-o"),
          edit_lesson_section_path(lesson, section),
          data: { turbo_frame: "sections" } %>
        <%= button_to (fa_icon "trash"),
          lesson_section_path(lesson, section),
          method: :delete,
          data: { turbo_confirm: t("sections.destroy.confirm") },
          class: "link" %>
      </div>
    </div>
    <div class="item-bottom">
      <%= format_playback_speed(section.playback_speed) %>x
      <%= "#{format_time(section.start_time)} -  #{format_time(section.end_time)}" %>
      <%= fa_icon "refresh" %>
    </div>
  </div>
<% end %>
