<h1>Editing section</h1>

<div class="player"
     data-controller="player"
     data-video-id="<%= video_id(@lesson) %>"
     data-loop="true"
     data-start="<%= @section.start_time.to_i.to_f %>"
     data-end="<%= @section.end_time.to_i.to_f %>"
     data-edit="true">
  <div id="player"></div>
</div>

<%= turbo_frame_tag "sections" do %>
  <%= render "form", section: @section %>
<% end %>
