<%= form_with(model: lesson, class: "lesson-form") do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lesson-name">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, style: "width: 95%" %>
  </div>

  <div class="lesson-url">
    <%= form.label :video_url, style: "display: block" %>
    <%= form.text_field :video_url,
      data: { action: "input->player#load", "player-target" =>  "source" },
      style: "width: 100%"%>
  </div>

  <div class="lesson-instrument">
    <%= form.label :instrument_id, style: "display: block" %>
    <%= form.select(:instrument_id, Instrument.all.collect { |i| [i.name, i.id] }, style: "width: 100%") %>
  </div>


  <div class="lesson-action-buttons">
    <%= form.hidden_field :duration_in_seconds, data: { "player-target" => "duration" } %>
    <%= form.submit %>
  </div>
<% end %>
