<%= form_with(model: lesson) do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :video_url, style: "display: block" %>
    <%= form.text_field :video_url %>
  </div>

  <div>
    <%= form.label :instrument_id, style: "display: block" %>
    <%= form.select(:instrument_id, Instrument.all.collect { |i| [i.name, i.id] }) %>
  </div>

  <%= form.hidden_field :duration_in_seconds, value: 15 %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
