<%= form_with(model: lesson, class: "lesson-form") do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name, class: "large", required: true %>

  <%= form.label :video_url %>
  <%= form.text_field :video_url,
    data: { action: "input->player#load", "player-target" =>  "source" },
    class: "large",
    required: true %>

  <%= form.label :instrument_id, Instrument.model_name.human %>
  <%= form.select(:instrument_id, Instrument.all.collect { |i| [i.name, i.id] }, {}, class: "small") %>

  <%= form.hidden_field :duration_in_seconds, data: { "player-target" => "duration" } %>

  <div class="form-footer">
    <%= form.submit %>
    <%= link_to t(:cancel), lessons_path(lesson) %>
  </div>
<% end %>
