<div id="<%= dom_id lesson %>">
  <p>
    <strong>Name:</strong>
    <%= instrument_emoji(lesson) %>
    <%= lesson.name %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= lesson.video_url %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= lesson.instrument.name %>
  </p>
</div>
