<div id="<%= dom_id lesson %>" class="video-card">
  <%= image_tag(video_thumbnail_url(lesson), class: "thumbnail") %>
  <div class="title">
    <%= instrument_emoji(lesson) %>
    <%= link_to lesson.name, lesson, data: { turbo: false } %>
  </div>

  <% if Flipper.enabled?(:lesson_status) %>
    <% if lesson.sections.size > 0 && lesson.current_objective then %>
      <div class="subtitle">
        Now learning: <%= lesson.sections.where(current: true)&.first&.name %>
      </div>
    <% end %>
  <% end %>
</div>
