<div id="<%= dom_id lesson %>">
  <p>
    <strong>Name:</strong>
    <%= lesson.name %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= lesson.video_url %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= lesson.instrument_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= lesson.order %>
  </p>

</div>
