<p style="color: green"><%= notice %></p>

<h1>Lessons</h1>

<%= turbo_frame_tag Lesson.new %>

<div id="lessons" class="lesson-list">
  <%= turbo_frame_tag "lessons" do %>
    <% @lessons.each do |lesson| %>
      <%= render lesson %>
    <% end %>
  <% end %>
</div>

<%= link_to "New lesson",
  new_lesson_path,
  data: { turbo_frame: dom_id(Lesson.new) }
%>
