<p style="color: green"><%= notice %></p>

<div class="lessons">
  <div class="header">
    <div class="title">
      <h1>Lessons</h1>
    </div>

    <div class="new">
      <%= link_to "New lesson",
        new_lesson_path,
        data: { turbo_frame: dom_id(Lesson.new) }
      %>
    </div>
  </div>

  <%= turbo_frame_tag Lesson.new %>

  <%= turbo_frame_tag "lessons", class: "list" do %>
    <% @lessons.each do |lesson| %>
      <%= render lesson %>
    <% end %>
  <% end %>

  <%= paginate @lessons %>
</div>

