<div class="lesson-grid" data-lesson-player-outlet=".video-player">
  <div class="header">
    <h1><%= @lesson.name %></h1>
    <div class="header-actions">
      <%= link_to (fa_icon "arrow-left"), lessons_path %>
      <%= link_to (fa_icon "edit"), edit_lesson_path(@lesson) %> |
      <%= button_to (fa_icon "trash"), @lesson, method: :delete, class: "danger" %>
    </div>
  </div>

  <div class="video-player player"
       data-controller="player"
       data-action="range:connect@window->player#triggerEdition range:update@window->player#updatePoints section:connect@window->player#playFromTo section:disconnect@window->player#reset"
       data-player-video-id-value="<%= video_id(@lesson) %>">
       <div id="player"></div>
  </div>

  <%= turbo_frame_tag "sections", class: "sections" do %>
    <%= link_to "#{t("actions.new")} #{Section.model_name.human}", new_lesson_section_path(@lesson) %>
    <div class="sections-selector">
      <%= render partial: "sections/section_item", collection: @lesson.sections, as: :section, locals: { lesson: @lesson }%>
    </div>
  <% end %>
</div>
