<p style="color: green"><%= notice %></p>

<%= render @lesson %>

<div>
  <%= link_to "Edit this lesson", edit_lesson_path(@lesson) %> |
  <%= link_to "Back to lessons", lessons_path %>

  <%= button_to "Destroy this lesson", @lesson, method: :delete %>
</div>

<h2>Sections</h2>

<% @lesson.sections.each do |section| %>
  <%= render "sections/section", lesson: @lesson, section: section %>
<% end %>

<%= link_to "New section", new_lesson_section_path(@lesson) %>
