<div class="lesson-grid" data-lesson-player-outlet=".video-player">
  <div class="header">
    <h1><%= @lesson.name %></h1>
    <div class="header-actions">
      <%= link_to (fa_icon "arrow-left"), lessons_path %>
      <%= link_to (fa_icon "edit"), edit_lesson_path(@lesson) %> |
      <%= button_to (fa_icon "trash"), @lesson, method: :delete, class: "danger" %>
    </div>
  </div>

  <%= render partial: "lessons/zoom/actions", locals: {lesson: @lesson} %>

  <div class="video-player">
    <%= render partial: "lessons/player", locals: {lesson: @lesson, actions: edit_player_actions, hidden: false} %>
  </div>

  <%= turbo_frame_tag "sections", class: "sections" do %>
    <div class="action">
      <%= button_to "#{t("actions.new")} #{Section.model_name.human}", new_lesson_section_path(@lesson), id: "new-section", method: :get, class: "button link disabled" %>
    </div>
    <div class="sections-selector">
      <%= render partial: "sections/section_item", collection: @lesson.sections, as: :section, locals: { lesson: @lesson }%>
    </div>
  <% end %>
</div>
