<div class="lesson-grid"
     data-lesson-player-outlet=".video-player"
     data-controller="lesson"
     data-action="player:playerInitialized@window->lesson#playerInitialized">
  <div class="header">
    <%= turbo_frame_tag "name_#{@lesson.id}", class: "title" do %>
      <div class="title">
        <h1><%= @lesson.name %></h1>
        <%= button_to (fa_icon "edit"), edit_name_inline_lesson_path(@lesson), data: { turbo_frame: "name_#{@lesson.id}"}, class: "link" %>
      </div>
    <% end %>
    <div class="header-actions">
      <%= link_to (fa_icon "arrow-left"), lessons_path %>
    </div>
  </div>

  <%= render partial: "lessons/zoom/actions", locals: {lesson: @lesson} %>

  <div class="video-player">
    <%= render partial: "lessons/player", locals: {lesson: @lesson, actions: edit_player_actions, hidden: false} %>
  </div>

  <%= turbo_frame_tag "sections", class: "sections" do %>
    <div class="action">
      <%= button_to "#{t("actions.new")} #{Section.model_name.human}",
        new_lesson_section_path(@lesson),
        method: :get,
        data: { "lesson-target" => "newSection" },
        class: "button link disabled" %>
    </div>
    <div class="sections-selector">
      <%= render partial: "sections/section_item", collection: @lesson.sections, as: :section, locals: { lesson: @lesson }, cached: true %>
    </div>
  <% end %>
</div>
