<div class="lesson-grid" data-lesson-player-outlet=".video-player">
  <div class="header">
    <h1><%= @lesson.name %></h1>
    <div class="header-actions">
      <%= link_to (fa_icon "arrow-left"), lessons_path %>
      <%= link_to (fa_icon "edit"), edit_lesson_path(@lesson) %> |
      <%= button_to (fa_icon "trash"), @lesson, method: :delete, class: "danger" %>
    </div>
  </div>

  <%= content_tag :div,
    class: "zoom-actions zoom",
    data: {
      controller: "zoom",
      "zoom-duration-value" => @lesson.duration_in_seconds,
      action: [
        "zoom-field:zoomLevelAdded@window->zoom#zoomLevelAdded",
        "zoom-field:zoomLevelRemoved@window->zoom#zoomLevelRemoved",
        "range:rangeInputUpdated@window->zoom#rangeInputUpdated",
        "range:rangeInputReady@window->zoom#rangeInputReady",
        "player:zoomCancelled@window->zoom#zoomCancelled",
      ].join(" "),
    } do %>

    <%= form_with url: section_zoom_in_path,
      data: { name: "zoom-in",
              "zoom-in-zoom-outlet": ".zoom",
              controller: "zoom-in",
              "zoom-target" => "zoomIn",
              action: [
                "range:rangeInputReady@window->zoom-in#rangeInputReady",
                "range:rangeInputUpdated@window->zoom-in#rangeInputUpdated",
                "player:zoomCancelled@window->zoom-in#zoomCancelled",
              ].join(" ")
            },
      class: "hidden" do |form| %>
      <%= form.hidden_field :start, data: { "zoom-in-target" => "start" } %>
      <%= form.hidden_field :end, data: { "zoom-in-target" => "end" } %>
      <%= form.hidden_field :duration, value: @lesson.duration_in_seconds %>
      <%= form.hidden_field :lesson_id, value: @lesson.id %>
      <%= button_tag type: "submit" do %>
        <%= fa_icon("search-plus") %>
      <% end %>
    <% end %>

    <%= form_with url: section_zoom_out_path, class: "hidden",
      data: { "zoom-target" => "zoomOut",
              name: "zoom-out",
              controller: "zoom-out",
              "zoom-out-zoom-outlet": ".zoom",
              action: [
                "zoom:zoomUpdated@window->zoom-out#zoomUpdated",
                "zoom:zoomsLoaded@window->zoom-out#zoomsLoaded",
              ].join(" ")
            } do |form| %>
      <%= form.hidden_field :zoom_out_start, data: { "zoom-out-target" => "start" } %>
      <%= form.hidden_field :zoom_out_end, data: { "zoom-out-target" => "end" } %>
      <%= form.hidden_field :zoom_out_id, data: { "zoom-out-target" => "id" } %>
      <%= form.hidden_field :lesson_id, value: @lesson.id %>
      <%= button_tag type: "submit" do %>
        <%= fa_icon("search-minus") %>
      <% end %>
    <% end %>
  <% end %>

  <div class="video-player player"
       data-controller="player"
       data-player-video-url-value="<%= @lesson.video_url %>"
       data-player-user-id-value="<%= current_user.id %>"
       data-action="range:rangeInputReady@window->player#triggerEdition range:rangeInputUpdated@window->player#updatePoints section:connect@window->player#playFromTo section:disconnect@window->player#reset"
       data-player-video-id-value="<%= video_id(@lesson) %>">
    <div id="player"></div>
    <div id="player-restriction" class="popover hidden" data-player-target="restriction">
      <div class="arrow"></div>
      <h1><%= t("player_restriction_title") %></h1>
      <p>
      <%= t("manual_playback") %>
      </p>
      <a href="https://developers.google.com/youtube/iframe_api_reference#playing-a-video" target="_blank">Learn more...</a>
    </div>
  </div>

  <%= turbo_frame_tag "sections", class: "sections" do %>
    <div class="action">
      <%= button_to "#{t("actions.new")} #{Section.model_name.human}", new_lesson_section_path(@lesson), id: "new-section", method: :get, class: "button link disabled" %>
    </div>
    <div class="sections-selector">
      <%= render partial: "sections/section_item", collection: @lesson.sections, as: :section, locals: { lesson: @lesson }%>
    </div>
  <% end %>
</div>
