<!DOCTYPE html>
<html>
  <head>
    <title>Along</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "layouts/main", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_tag do %>
      window.rails_env = "<%= Rails.env %>"
      window.is_cypress = "<%= not ENV["CYPRESS"].nil? %>"
    <% end %>
  </head>
  <body>
    <div class="lheader"></div>
    <header>
      <nav>
        <h1 class="banner">Along</h1>
        <ul>
          <li>
            <% if user_signed_in? %>
              <%= button_to t(:logout),
                  destroy_user_session_path, method: :delete, class: "small link" %>
            <% else %>
              <%= link_to t(:sign_in), new_user_session_path %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>
    <div class="rheader"></div>
    <main>
      <%= yield %>
    </main>
    <footer>
      Copyright &copy; Mauricio Fierro 2024
    </footer>
</html>

